body {
    direction: rtl;
}

#header {
    position: relative;
    /* position: relative; */
    height: 77.23px;
    width: 100%;
    background: black;
    box-sizing: border-box;
    /* display: block; */
}

#header_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    /* height: 77.23px; */
    max-width: 1398px;
    width: 100%;
    align-items: center;
    /* padding: 0; */
    /* display: block; */
    /* margin: o auto; */
    background-color: black;
    transform: translate(-50%, -50%);
    /* max-width: 1398px; */
    padding-right: 16px;
    padding-left: 16px;
}

#sun_img {

    position: absolute;
    top: 50%;
    fill: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#logo {
    position: absolute;
    top: 50%;
    left: 53.5%;
    width: 73.91px;
    height: 73.23px;
    transform: translate(-50%, -50%);
}

#contact {
    position: absolute;
    display: block;
    top: 50%;
    right: 84.5%;
    width: 104.69px;
    height: 36px;
    background-color: #C8211E;
    transform: translate(-50%, -50%);
    border-radius: calc(-2px + 0.5rem);
}

#contect_text {
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
    color: white;
}

#img_mail {
    position: absolute;
    top: 50%;
    fill: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#nav {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav {
    position: relative;
    top: 24px;
    left: 50.2%;
    height: 45px;
    width: 100vw;
    border-bottom: .5px solid rgb(231, 218, 218);
}

#nav_inner {
    position: absolute;
    top: 50%;
    left: 49%;
    max-width: 1398px;
    width: 100%;
    align-items: center;
    transform: translate(-50%, -50%);
    padding-right: 16px;
    padding-left: 16px;
}

#nav_inner a {
    position: relative;
    /* height: 77.23px; */

    /* padding: 0; */
    /* display: block; */
    /* margin: o auto; */
    /* background-color: black; */
    /* max-width: 1398px; */
    text-align: center;
    display: inline-block;
    width: 7%;
    padding: 8px 0;
    /* height: 36px; */
    text-decoration: none;
    color: gray;
    font-size: larger;
    /* border: 2px solid rgb(226, 221, 221); */
    /* cursor: pointer; */



    /* /* position: absolute; */
    /* top: 50%;
    transform: translate(-50%, -50%); */
}

#nav a:hover {
    color: rgb(197, 29, 29);
    background-color: rgb(230, 219, 219);
    border-radius:10px ;
}